[submodule "lib/Java-Naive-Bayes-Classifier"]
	path = lib/Java-Naive-Bayes-Classifier
	url = https://github.com/theranger/Java-Naive-Bayes-Classifier.git
[submodule "lib/valence"]
	path = lib/valence
	url = https://github.com/theranger/valence.git
	branch = dev
[submodule "lib/vabamorf"]
	path = lib/vabamorf
	url = https://github.com/theranger/vabamorf.git
